<div ng-controller="DeviceInfoDetailCtrl">
    <md-sidenav md-component-id="right" class="md-sidenav-right">
        <md-toolbar class="md-theme-indigo">
            <h1 class="md-toolbar-tools">设备信息</h1>
        </md-toolbar>
        <md-content layout-padding="">
            <form name="editList">
                <md-input-container flex class="md-block">
                    <label>设备编号</label>
                    <input name="deviceid" required type="number" ng-minlength="3" ng-model="editData.groupFieldName[DeviceField.DEVICE_ID]">
                    <div ng-messages="editList.deviceid.$error">
                        <div ng-message="required">This is required.</div>
                    </div>
                </md-input-container>
                <md-input-container flex class="md-block">
                    <label>地图</label>
                    <md-select ng-model="editData.groupFieldName[DeviceField.MAP_ID]">
                        <md-optgroup>
                            <md-option ng-value="item[DeviceField.MAP_ID]" ng-repeat="item in editData.mapData">
                                {{item[DeviceField.MAP_ID]+ ':' + item[DeviceField.MAP_NAME]}}
                            </md-option>
                        </md-optgroup>
                    </md-select>
                </md-input-container>
                <md-input-container flex class="md-block">
                    <label> 设备类型</label>
                    <md-select name="typename" required ng-model="editData.groupFieldName[DeviceField.TYPE_ID]">
                        <md-optgroup>
                            <md-option ng-value="item[DeviceField.TYPE_ID]" ng-repeat="item in editData.DeviceTypeList">
                                {{item[DeviceField.TYPE_ID]+ ':' + item[DeviceField.TYPE_NAME]}}
                            </md-option>
                        </md-optgroup>
                    </md-select>
                    <div ng-messages="editList.typename.$error">
                        <div ng-message="required">This is required.</div>
                    </div>
                </md-input-container>
                <md-input-container flex class="md-block">
                    <label>设备名称 </label>
                    <input name="devicename" required ng-minlength="2" ng-model="editData.groupFieldName[DeviceField.NAME]">
                    <div ng-messages="editList.devicename.$error">
                        <div ng-message="required">This is required.</div>
                    </div>
                </md-input-container>
                <md-input-container flex class="md-block">
                    <label>设备编号 </label>
                    <input name="deviceno" required ng-minlength="2" ng-model="editData.groupFieldName[DeviceField.DEVICE_NO]">
                    <div ng-messages="editList.deviceno.$error">
                        <div ng-message="required">This is required.</div>
                    </div>
                </md-input-container>
                <md-input-container flex class="md-block">
                    <label> 地图类型</label>
                    <input ng-model="editData.groupFieldName[DeviceField.MAP_TYPE]">
                </md-input-container>
            </form>
            <md-button class="  md-raised demo-dialog-open-button" ng-click="save(editData.groupFieldName,'save')" ng-disabled="editList.$invalid">
                保存
            </md-button>
            <md-button class="md-raised demo-dialog-close-button" ng-click="cancel()">
                取消
            </md-button>
        </md-content>
    </md-sidenav>
</div>
