<md-toolbar class="md-whiteframe-glow-z1 site-content-toolbar _md">
    <div class="md-toolbar-tools docs-toolbar-tools" tabindex="-1">
        <md-button ng-click="toggleLeft()" class="md-icon-button" hide-gt-md="">
            <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
        </md-button>
        <h5 style="color: black;" ng-if='currentMenu && parentMenu.children.indexOf(currentMenu)!==-1 '>
          {{currentMenu.label}} </h5>
        <span flex=""></span>
    </div>
</md-toolbar>
<!--
        <md-button class="md-icon-button" aria-label="Favorite">
            <md-icon md-svg-icon="img/icons/favorite.svg" style="color: greenyellow;"></md-icon>
        </md-button>
        <md-button class="md-icon-button" aria-label="More">
            <md-icon md-svg-icon="img/icons/more_vert.svg"></md-icon>
        </md-button>-->
