<div layout="column" tabindex="-1" role="main" flex="" class="layout-column flex" ng-controller="MonitortypeCtrl">
    <md-content md-scroll-y="" layout-padding layout="column" flex="" class="_md layout-column flex">
        <div class="demo-md-panel-animation md-padding">
            <div layout="row">
                <div flex="33">
                    <md-input-container flex class="md-block">
                        <label>监控类</label>
                        <md-select ng-model="selected.data">
                            <md-optgroup>
                                <md-option ng-value="data[DeviceField.MNT_GROUP_ID] " ng-repeat="data in editData.MonitorGroupList">{{data[DeviceField.MNT_GROUP_ID] + ':' + data[DeviceField.DESC]}}</md-option>
                            </md-optgroup>
                        </md-select>
                    </md-input-container>
                </div>
                <div flex="33">
                    <md-input-container flex class="md-block">
                        <label>描述</label>
                        <input ng-model="selected.keyword">
                        <!-- <input ng-model="monitorType"> -->
                    </md-input-container>
                </div>
                <div flex="33">
                    <md-button class="md-raised demo-dialog-open-button" ng-click="search()">搜索
                    </md-button>
                </div>
            </div>
        </div>
    </md-content>
    <md-content md-scroll-y="" layout-padding layout="column" flex="" class="_md layout-column flex">
        <table class="md-api-table">
            <thead>
                <tr>
                    <th> 监测设备ID</th>
                    <th> 设备类型</th>
                    <th> 监测点组</th>
                    <th> 命令名称</th>
                    <th> 描述</th>
                    <th> 操作 </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat='data in editData.showData.data' ng-class="{'selected':_oldSelectedRowObj.indexOf(data)!==-1}" ng-click="selectedRow($index,data)">
                    <td>{{data[DeviceField.MNT_TYPE_ID]}} </td>
                    <td ng-init="deviceid=parseInt(data[DeviceField.D_TYPE_ID])">{{deviceMap[deviceid]}} </td>
                    <td> {{monitorMap[data[DeviceField.MNT_GROUP_ID]]}} </td>
                    <td>{{data[DeviceField.CMD_NAME]}} </td>
                    <td> {{data[DeviceField.DESC]}} </td>
                    <td>
                        <inline-tools open="toggleRight(data)" delete='deleteData(data)' old='_oldSelectedRowObj' data='data' del='isDel'></inline-tools>
                    </td>
            </tbody>
        </table>
        <pagination-section> </pagination-section>
    </md-content>
</div>
