<md-sidenav md-component-id="right" class="md-sidenav-right">
    <md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">设备与 监控</h1> 
    </md-toolbar>
    <md-content layout-padding="">
        <md-list>
            <md-input-container flex class="md-block">
                <label>设备类型ID</label>
                <md-select ng-model="DeviceTypeList.data" md-selected-text="getSelectedText(DeviceTypeList.data)">
                    <md-optgroup>
                        <md-option ng-value="data[DeviceField.TYPE_ID]" ng-repeat="data in DeviceTypeList"> {{ data[DeviceField.TYPE_ID] + ':' + data[DeviceField.TYPE_NAME]}}</md-option>
                    </md-optgroup>
                </md-select>
            </md-input-container>
            <md-input-container flex class="md-block">
                <label>监测点组ID</label>
                <md-select ng-model="mdSelectedData._data" md-selected-text="getSelectedText(mdSelectedData._data)">
                    <md-option ng-value="_data[DeviceField.MNT_GROUP_ID]" ng-repeat="_data in mdSelectedData.data">{{ _data[DeviceField.MNT_GROUP_ID] + ':' + _data[DeviceField.DESC]}}</md-option>
                </md-select>
            </md-input-container>
        </md-list>
        <md-button class="  md-raised demo-dialog-open-button" ng-click="save()">
            保存
        </md-button>
        <md-button class="  md-raised demo-dialog-open-button" ng-click="cancel()">
            取消
        </md-button>
    </md-content>
</md-sidenav>
