<div ng-controller="MonitorTypeDetailCtrl">
    <md-sidenav md-component-id="right" class="md-sidenav-right">
        <md-toolbar class="md-theme-indigo">
            <h1 class="md-toolbar-tools">监控类型</h1>
        </md-toolbar>
        <md-content layout-padding="">
            <form name="editList">
                <md-input-container flex class="md-block">
                    <label>监测点组ID</label>
                    <md-select name="monitorgroupname" required ng-model="groupFieldName[DeviceField.MNT_GROUP_ID]">
                        <md-optgroup>
                            <md-option ng-value="item[DeviceField.MNT_GROUP_ID]" ng-repeat="item in MonitorGroupList">
                                {{item[DeviceField.MNT_GROUP_ID]+ ':' + item[DeviceField.DESC]}}
                            </md-option>
                        </md-optgroup>
                    </md-select>
                    <div ng-messages="editList.monitorgroupname.$error">
                        <div ng-message="required">This is required.</div>
                    </div>
                </md-input-container>
                <md-input-container flex class="md-block">
                    <label>设备类型</label>
                    <md-select name="typename" required ng-model="groupFieldName[DeviceField.TYPE_ID]">
                        <md-optgroup>
                            <md-option ng-value="item[DeviceField.TYPE_ID]" ng-repeat="item in DeviceTypeList">
                                {{item[DeviceField.TYPE_ID]+ ':' + item[DeviceField.TYPE_NAME]}}
                            </md-option>
                        </md-optgroup>
                    </md-select>
                    <div ng-messages="editList.typename.$error">
                        <div ng-message="required">This is required.</div>
                    </div>
                </md-input-container>
                <md-input-container flex class="md-block">
                    <label>命令名称</label>
                    <input ng-model="groupFieldName[DeviceField.CMD_NAME]">
                </md-input-container>
                <md-input-container flex class="md-block">
                    <label>描述 </label>
                    <input ng-model="groupFieldName[DeviceField.DESC]">
                </md-input-container>
            </form>
            <md-button class="md-raised demo-dialog-open-button" ng-click="save(groupFieldName,'save')" ng-disabled="editList.$invalid">
                保存
            </md-button>
            <md-button class="md-raised demo-dialog-close-button" ng-click="cancel()">
                取消
            </md-button>
        </md-content>
    </md-sidenav>
</div>
