<div layout="column" tabindex="-1" role="main" flex="" class="layout-column flex" ng-controller="MonitorgroupCtrl">
  <section layout-sm="column" flex layout-align="center center" layout-wrap="">
  <md-button ng-click="toggleRight()" class="  md-raised demo-dialog-open-button">新增
        </md-button>
    </section>
    <md-content md-scroll-y="" layout-padding layout="column" flex="" class="_md layout-column flex">
        <table class="md-api-table">
            <thead>
                <tr>
                    <th> 监控组ID</th>
                    <th> 描述</th>
                    <th> 操作 </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat='data in showData.data' ng-class="{'selected':_oldSelectedRowObj.indexOf(data)!==-1 }" ng-click="selectedRow($index,data)">
                    <td>{{data[DeviceField.MNT_GROUP_ID]}} </td>
                    <td> {{data[DeviceField.DESC]}}
                    </td>
                    <td>
                        <inline-tools open="toggleRight(data)" delete='deleteData(data)' old='_oldSelectedRowObj' data='data' del='isDel'></inline-tools>
                    </td>
            </tbody>
        </table>
        <pagination-section> </pagination-section>
    </md-content>
    <ui-view>
    </ui-view>
</div>