<div layout="column" tabindex="-1" role="main" flex="" class="layout-column flex" ng-controller="monitorgroupCtrl">
<md-input-container flex class="md-block">
    <label>系统</label>
    <md-select ng-model="MonitorGroupList.data.groupData" md-selected-text="getSelectedText(MonitorGroupList.data.groupData)">
        <md-option ng-value="groupData[DeviceField.MNT_GROUP_ID]" ng-repeat="groupData in MonitorGroupList.data">{{ groupData[DeviceField.MNT_GROUP_ID] + ':' + groupData[DeviceField.DESC]}}</md-option>
    </md-select>
    </md-input-container>
    <section layout-sm="column" flex layout-align="center center" layout-wrap="">
        <md-button class="md-primary md-raised demo-dialog-open-button" ng-click="searchMonitorGroup()">搜索
        </md-button> 
        <md-button ng-click="toggleRight()" class="md-primary md-raised demo-dialog-open-button">新增
        </md-button>
    </section>
    <md-content md-scroll-y="" layout-padding layout="column" flex="" class="_md layout-column flex">
        <table class="md-api-table">
            <thead>
                <tr>
                    <th> 监控组ID</th> 
                    <th> 描述</th>
                    <th> 操作 </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat='data in showMonitorGroup' ng-class="{'selected':$index == selectedIndex}" ng-click="selectedMonitorGroup($index,data)">
                    <td>{{data[DeviceField.MNT_GROUP_ID]}} </td>
                    <td> {{data[DeviceField.DESC]}}
                    </td>
                    <td>
                        <span ng-class="{'inline-tools':$index == selectedIndex}" ng-show='$index == selectedIndex'><!-- ui-sref="ibuildweb.category.content.edit({systype:data[DeviceField.SYS_TYPE_ID]})"  ng-click="editDeviceType(data)" -->
                             <md-button ng-click="toggleRight(data)" class="md-fab md-mini" aria-label="Eat cake">
                             <md-icon  class="glyphicon glyphicon-pencil" ></md-icon>
                             </md-button>
                                 <md-button class="md-fab md-mini" ng-show='isDel && $index == selectedIndex' class="btn btn-danger btn-xs" ng-click="removeMonitorGroup(data)">
                                           <md-icon class="glyphicon glyphicon-remove" ></md-icon>
                                   </md-button>
                             </span>
                    </td>
            </tbody>
        </table>
        <div layout="row">
            <md-button class="md-primary md-raised demo-dialog-open-button" ng-disabled='isLoadTop' ng-show='isPagination' class="btn btn-default" ng-click="previousPage()">
                上页
            </md-button>
            <md-button class="md-primary md-raised demo-dialog-open-button" ng-disabled='isLoadEnd' ng-show='isPagination' class="btn btn-default" ng-click="nextPage()">下页
            </md-button>
        </div>
    </md-content>
    <ui-view>
    </ui-view>
</div>
