<!-- <p>createSysCtrl</p>-->
<md-sidenav md-component-id="right" class="md-sidenav-right">
    <md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">小类</h1> 
    </md-toolbar>
    <md-content layout-padding="">
        <md-list ng-hide='deviceSysType'>
            <md-input-container flex class="md-block">
                <label for="form-group ">小类 </label>
                <p class="form-control-static">{{deviceTypeFieldName[DeviceField.TYPE_ID]}}</p>
            </md-input-container>
            <md-input-container flex class="md-block">
                <label>小类名称</label>
                <input ng-model="deviceTypeFieldName[DeviceField.TYPE_NAME]">
            </md-input-container>
            <md-input-container flex class="md-block">
                <label>系统</label>
                <md-select ng-model="DeviceSysTypeList.editOptionData" md-selected-text="getSelectedText(DeviceSysTypeList.editOptionData)">
                    <md-option ng-value="editOptionData[DeviceField.SYS_TYPE_ID]" ng-repeat="editOptionData in DeviceSysTypeList">{{ editOptionData[DeviceField.SYS_TYPE_ID] + ':' + editOptionData[DeviceField.SYS_TYPE_NAME]}}</md-option>
                </md-select>
            </md-input-container>
            <md-input-container flex class="md-block">
                <label>图标 </label>
                <input ng-model="deviceTypeFieldName[DeviceField.ICON_SRC]">
            </md-input-container>
        </md-list>
        <md-button class="  md-raised demo-dialog-open-button" ng-click="save(deviceTypeFieldName,'resave')">
            更新
        </md-button>
        <md-button class="md-raised demo-dialog-close-button" ng-click="cancel()">
           取消
        </md-button>
    </md-content>
</md-sidenav>
