<div layout="column" tabindex="-1" role="main" flex="" class="layout-column flex" ng-controller="deviceInfoCtrl">
    <md-input-container flex class="md-block">
        <label>监控类</label>
        <input ng-model="deviceNo">
    </md-input-container>
    <section layout-sm="column" flex layout-align="center center" layout-wrap="">
        <md-button class="md-primary md-raised demo-dialog-open-button" ng-click="search()">搜索
        </md-button>
        <md-button ng-click="toggleRight()" class="md-primary md-raised demo-dialog-open-button">新增
        </md-button>
    </section>
    <md-content md-scroll-y="" layout-padding layout="column" flex="" class="_md layout-column flex">
        <table class="md-api-table">
            <thead>
                <tr>
                    <th> deviceId </th>
                    <th> deviceName </th>
                    <th> deviceTypeId</th>
                    <th> mapId</th>
                    <th> mapType </th>
                    <th> deviceNo </th>
                    <th> 操作 </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat='data in showDataList' ng-class="{'selected':$index == selectedIndex}" ng-click="selectedRow($index,data)">
                    <td>{{data[DeviceField.DEVICE_ID]}} </td>
                    <td> {{data[DeviceField.NAME]}}
                    </td>
                    <td>{{data[DeviceField.TYPE_ID]}} </td>
                    <td>{{data[DeviceField.MAP_ID]}} </td>
                    <td> {{data[DeviceField.MAP_TYPE]}}
                    </td>
                    <td>{{data[DeviceField.DEVICE_NO]}} </td>
                    <td>
                        <span ng-class="{'inline-tools':$index == selectedIndex}" ng-show='$index == selectedIndex'>
                             <md-button ng-click="toggleRight(data)" class="md-fab md-mini" aria-label="Eat cake">
                             <md-icon  class="glyphicon glyphicon-pencil" ></md-icon>
                             </md-button>
                                 <md-button class="md-fab md-mini" ng-show='isDel && $index == selectedIndex' class="btn btn-danger btn-xs" ng-click="removeMonitorGroup(data)">
                                           <md-icon class="glyphicon glyphicon-remove" ></md-icon>
                                   </md-button>
                             </span>
                    </td>
            </tbody>
        </table>
        <div layout="row">
            <md-button class="md-primary md-raised demo-dialog-open-button" ng-disabled='isLoadTop' ng-show='isPagination' class="btn btn-default" ng-click="previousPage()">
                上页
            </md-button>
            <md-button class="md-primary md-raised demo-dialog-open-button" ng-disabled='isLoadEnd' ng-show='isPagination' class="btn btn-default" ng-click="nextPage()">下页
            </md-button>
        </div>
    </md-content>
    <ui-view>
    </ui-view>
</div>
