<div layout="column" tabindex="-1" role="main" flex="" class="layout-column flex" ng-controller="MapCtrl">
    <section layout-sm="column" flex layout-align="center center" layout-wrap="">
        <md-button ng-click="toggleRight()" class="md-raised demo-dialog-open-button">新增
        </md-button>
    </section>
    <md-content md-scroll-y="" layout-padding layout="column" flex="" class="_md layout-column flex">
        <div layout="row">
     <!--        <ul class='map' flex="33">
         <li flex-gt-xs="50" ng-repeat='data in showData.null' ng-class="{ hasChild:showData[data[DeviceField.MAP_ID]], 
             open: showData[data[DeviceField.MAP_ID]]&& data.open }" ng-include="'view/content/map/floordata.html'">
         </li>
     </ul> -->
   <ul class='map'>
        <li ng-repeat="section in toggelData" class="parent-list-item">
            <menu-link section="section" linkdata="focusMap" ng-if="section.type === 'link'"></menu-link>
            <menu-toggle section="section" toggledata="focusMap" ng-if="section.type === 'toggle'"></menu-toggle>
        </li>
    </ul>
            <div flex="33">
                <img style='height:600px;' ng-src="{{showMapUri}}">
            </div>
        </div>
    </md-content>
    <ui-view>
    </ui-view>
</div>
