<div layout="column" tabindex="-1" role="main" flex="" class="layout-column flex" ng-controller="mapCtrl">
    <section layout-sm="column" flex layout-align="center center" layout-wrap="">
        <md-button ng-click="toggleRight()" class="  md-raised demo-dialog-open-button">新增
        </md-button>
    </section>
    <md-content md-scroll-y="" layout-padding layout="column" flex="" class="_md layout-column flex">
        <div layout="row">
            <ul class='map' flex="33">
                <li flex-gt-xs="50" ng-repeat='data in showData.null' ng-class="{ hasChild:showData[data[DeviceField.MAP_ID]], 
        open: showData[data[DeviceField.MAP_ID]]&& data.open }" ng-include="'view/content/map/floordata.html'">
                </li>
            </ul>
            <input type="file" file-model="myFile" />
            <br>
            <br>
            <button ng-click="uploadFile()">Upload</button> 
            <img ng-src="{{showMapUri}}">
        </div>
    </md-content>
    <ui-view>
    </ui-view>
</div>