<div ng-controller="DevicePointDetailCtrl">
   <md-sidenav md-component-id="right" class="md-sidenav-right">
    <md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">点位信息</h1>
    </md-toolbar>
    <md-content layout-padding="">
              <form name="editList">
            <md-input-container flex class="md-block">
                <label> 监控类型</label>
                <md-select name="monitorgroupname" required ng-model="editData.groupFieldName[DeviceField.MNT_TYPE_ID]">
                    <md-optgroup>
                        <md-option ng-value="item[DeviceField.MNT_TYPE_ID]" ng-repeat="item in editData.MonitorType">
                            {{item[DeviceField.MNT_TYPE_ID]+ ':' + item[DeviceField.DESC]}}
                        </md-option>
                    </md-optgroup>
                </md-select>
                <div ng-messages="editList.monitorgroupname.$error">
                    <div ng-message="required">This is required.</div>
                </div>
            </md-input-container>
            <md-input-container flex class="md-block">
                <label>CMD名称</label>
                <input ng-model="editData.groupFieldName[DeviceField.CMD_NAME]">
            </md-input-container>
            <md-input-container flex class="md-block">
                <label>监控 </label>
                <input ng-model="editData.groupFieldName[DeviceField.MONITOR]">
            </md-input-container>
            <md-input-container flex class="md-block">
                <label>来源 </label>
                <input ng-model="editData.groupFieldName[DeviceField.SOURCE]">
            </md-input-container>
        </form>
        <md-button class="md-raised demo-dialog-open-button" ng-click="save(editData.groupFieldName,'save')" ng-disabled="editList.$invalid">
            保存
        </md-button>
        <md-button class="md-raised demo-dialog-close-button" ng-click="cancel()">
            取消
        </md-button>
    </md-content>
</md-sidenav>
       </div>
           