<md-button class="md-button-toggle" ng-click="toggle($index)" ng-class="{'{{section.icon}}' : true, 'md-selected' :isToggled()}"
  aria-controls="docs-menu-{{section.name }}" flex layout="row" aria-expanded="{{isOpen()}}">
  {{section.name}}
  <span ng-if="isToggled()&& toggledata.isContent" ng-include="'view/content/map/tool.html'"> </span>
  <span aria-hidden="true" class=" pull-right fa fa-chevron-down md-toggle-icon" ng-class="{'toggled': isOpen()}"></span>
</md-button>
<ul ng-if="isOpen()" id="docs-menu-{{section.name }}" class="menu-toggle-list">
  <li ng-repeat="page in section.pages">
    <menu-link action='action({device:page})'  section="page" linkdata="toggledata" parentdata='section.pages' > </menu-link>
  </li>
</ul>
