<md-sidenav class="md-sidenav-right" md-component-id="right">
    <md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">设备</h1>
    </md-toolbar>
    <md-content layout-padding="">
        <md-list>
         <md-input-container flex class="autocompletedemoBasicUsage">
                <label for="form-group "> 设备ID </label>
                <md-autocomplete ng-disabled="isDisabled" md-no-cache="noCache" md-selected-item="selectedItem" md-search-text-change="searchTextChange(searchText)" md-search-text="searchText" md-selected-item-change="selectedItemChange(item)" md-items="item in querySearch(searchText)" md-item-text="item" md-min-length="0" placeholder="What is your favorite US state?">
                    <md-item-template>
                        <span md-highlight-text="searchText" md-highlight-flags="^i">{{item}}</span>
                    </md-item-template>
                    <md-not-found>
                        No states matching "{{searchText}}" were found.
                        <!--    <a ng-click="newState(searchText)">Create a new one!</a> -->
                    </md-not-found>
                </md-autocomplete>
            </md-input-container> 
           
            <md-input-container flex class="md-block">
                <label>subDeviceId</label>
                <md-select ng-model="subData.item" md-on-close="clearSearchTerm()" multiple> 
                    <md-optgroup label="subDeviceId">
                        <md-option ng-value="item[DeviceField.DEVICE_ID]" ng-repeat="item in subData">{{item[DeviceField.DEVICE_ID]}}</md-option>
                    </md-optgroup>
                </md-select>
            </md-input-container>
            <md-input-container flex class="md-block">
                <label>templateName </label>
                <input ng-model="groupFieldName[DeviceField.TMP_NAME]">
            </md-input-container>

        </md-list>
        <md-button class="  md-raised demo-dialog-open-button" ng-click="save(groupFieldName,'resave')">
            更新
        </md-button>
        <md-button class="md-raised demo-dialog-close-button" ng-click="cancel()">
         取消
        </md-button>
    </md-content>
</md-sidenav>
